@model IEnumerable<SWRPGCombatTracker.Models.PlayerModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brawn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Career)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cunning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStrain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentWounds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentXP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Encumberance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intellect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxEncumberance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeleeDefense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RangedDefense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoakValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrainThreshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalXP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Willpower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WoundThreshold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brawn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Career)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cunning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStrain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentWounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentXP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encumberance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intellect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxEncumberance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeleeDefense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RangedDefense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoakValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrainThreshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalXP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Willpower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WoundThreshold)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
